#bar {
  align-items: center;
  background: #000000;
  color: #ffffff;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;
}

#bar p {
  color: #fff;;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}